/*navbar css start*/
nav {
    background: linear-gradient(rgb(0, 203, 230),
            rgb(79, 240, 252),
            rgb(0, 203, 230));
}

.container-fluid {
    color: rgb(255, 251, 251);
    font-size: 17px;
    font-weight: bold;
}

.navbar-brand img {
    height: 40px;
}

.navbar-toggler {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(49, 221, 233);
}

#offcanvasNavbarLabel {
    font-weight: bold;
}

#offcanvasNavbar {
    background-color: rgb(2, 191, 204);
}

.offcanvas,
.offcanvas a {
    color: white;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu {
    background-image: linear-gradient(rgb(0, 158, 179),
            rgb(79, 240, 252),
            rgb(0, 158, 179));
}

/*navbar css end*/

/*home css start*/

.carousel-inner {
    margin: 0%;
    padding: 0%;
}

.carousel-item img {
    width: 100%;
    height: 600px;
    margin-top: 20px;


}

.ali h1 {
    position: absolute;
    margin-top: -500px;
    margin-left: 510px;
    color: rgb(254, 254, 255);
    font-weight: bold;
}

.ali h4 {
    position: absolute;
    margin-top: -420px;
    text-align: center;
    color: rgb(239, 238, 250);
    font-weight: bold;

}

.mini a {
    position: absolute;
    margin-top: -320px;
    background-color: black;
    margin-left: 560px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

/*home css end*/
/*feedback css end*/
#feedback {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: white;
    width: 99.7%;
}

footer {
    background-color: black;
    padding-top: 50px;
    margin-top: 30px;
}

.con {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-col {
    width: 33.3%;
}

h4 {
    font-size: 28px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-col p {
    width: 190px;
    margin: auto;
    padding: 7px;
    color: white;
    font-size: 20px;
}

.footer-col ul {
    text-align: center;
}

.list {
    padding: 0;

}

.list a {
    color: white;
    font-size: 20px;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list a::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 230px;

}

.social-icons li {
    display: inline;

}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-left: 30px;
}

.social-icons a:hover {
    color: #007bff;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -80px;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: blue;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar p {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 19px;
    padding: 7px;
}

/* feedback css end */